:root {
  --darkCoral: #CF5C36;
  --lightCoral: rgb(243, 156, 128);
  --coral: #F78154; 
  --tomato: #F06543;
  --gunmetal: #2A2D34;
  --lightGray: #595758;

  --mainWhite: rgb(216, 230, 231);
  --mainDark: #232528;
}

body, html {
  background: var(--mainWhite);
  font-family: 'Comfortaa', cursive !important;
  position: relative;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100%;
  padding: 2.5rem 0rem;
}

.navbar, .dropdown-menu  {
  background: var(--darkCoral) !important;
  color: var(--mainWhite) !important;
  text-transform: uppercase;
  font-family: 'Cormorant Garamond', serif !important;
}

a {
  color: var(--mainWhite) !important;
}

.bs-logo {
  width: 4.2rem;
  height:2rem;
  margin-bottom: -.5rem;
}

.cover-container {
  overflow: hidden;
  width: 100%;
  height: 800px;;
}

#cover-hero {
  height: 100%;
  background-image: url('./images/doberman-camada.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -moz-background-size: 100% 100%;
-webkit-background-size: 100% 100%;
}

.center-me {
  margin: 0 auto;
}

.contact-background {
  background: var(--lightCoral);
  box-shadow:2px 2px 5px 0px rgba(0,0,0,0.2);
}

li {
  list-style: none;
}

.img-carousel {
  width: 5rem;
  height: 30rem;
}

.img-about {
  width: 25rem;
  height: 22rem;
  margin-left: auto;
  margin-right: auto;
}

.card-img-top {
  height: 17.5rem;
}

.parallax {
  margin-top: 5rem;
  height: 500px;
  background-image: url('./images/doberman-parallax.jpg') !important;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/*
h1, h2, h3, h4 {
  font-family: 'Cinzel', serif !important;
} */

.header-container .card {
  margin-top: -2rem;
  text-transform: uppercase;
  border: none !important;
}
.header-img {
  width: 100%;
  height: 20rem;
}

.tag-container {
  background: var(--darkCoral) !important;
}

.mr-2 {
  color: var(--lightCoral) !important;
}

.footer {
  position: absolute;
  right: 0;
  left: 0;
  bottom: -2.5rem;
}